__pycache__
cover
.coverage

*.env
env
.vscode
.circleci

db.sqlite3

media
app/deploy/admin/

app/teams/templates/teams/support/md/

privacy_policy.html
terms_of_service.html
readme/*.desired.drawio
readme/*.desired.png